extends layout

block content
  h1 Display

  h2 Bob
  p x: 
    span(id="xCoordBob")
  p y: 
    span(id="yCoordBob")
  p z: 
    span(id="zCoordBob")

  h2 Joe
  p x: 
    span(id="xCoordJoe")
  p y: 
    span(id="yCoordJoe")
  p z: 
    span(id="zCoordJoe")

  script(src='/javascripts/display.js')