extends layout

block content

    script(src='/javascripts/Ball.js')
    script(src='/javascripts/Paddle.js')
    script(src='/javascripts/ScaledPage.js')
    script(src='/javascripts/Accelerometer.js')
    script(src='/javascripts/Util.js')
    script(src='/javascripts/TouchHandler.js')
    script(src='/javascripts/BouncyBallApp.js')
    script(src='/javascripts/display.js')
