extends layout

block content
  - if (user)
      p Logged in as #{user.username}
      p Click 
        a(href='/logout') here
        |  to log out
  - else
      p Click 
        a(href='/login') here
        |  to log in