doctype 5
html
  head
    title 237 Pong
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- script(src="http://192.168.1.117:9994/target/target-script-min.js")
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery-1.8.2.min.js')
    script(src='/javascripts/Util.js')
    script(src='/javascripts/main.js')
  body
    block content